body{
    color:#414042; 
    font-size:90%; 
    font-family: 'Roboto', sans-serif;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1080px;
    margin: auto;
}


.subtitle{
    color: #626262;
    text-align: left; 
}

#main{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.instruction{
    color:#7c7c7c; 
    font-size:100%;
    margin: 15px auto;
    margin-bottom: 30px;
}

.dashboard-container{
    display: inline-block;
    justify-content: center;
    border: 10px;
    margin-left: 150px;
}

.home-container{
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
}

.primary-list-title{
    font-size: 110%;
    font-weight: 600;
    text-indent: -18px;
    text-decoration: underline;
}

.secondary-list-title{
    font-size: 100%;
    font-weight: 600;
}

.secondary-list-details{
    margin-left: -18px;
}

.third-tier-list{
    margin-left:-16px;
}

.copyright{
    display: flex;
    color: #414042; 
    font-size:70%;
    justify-content: center;
}

.glossary-table{
    display: flex;
    justify-content: center;
    max-width: 80%;
}